<!-- This footer should hidden by default and shown when there are todos -->
<footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>{{pendientes}}</strong> tareas pendientes</span>
    <!-- Remove this if you don't implement routing -->

    <!-- class="selected" -->
    <ul class="filters">
        <li (click)="cambiarFiltro(filtro)" *ngFor="let filtro of filtroValidos">
            <a [ngClass]="{'selected': filtro === filtroAtual}">{{filtro}}</a>
        </li>

    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button class="clear-completed" (click)="borrarTodo()">Lipiar completados</button>
</footer>